@import "tailwindcss";

@theme inline {
  --color-primary: var(--surface-primary);
  --color-secondary: var(--surface-secondary);
  --color-muted: var(--surface-muted);
  --color-accent: var(--surface-accent);
  --color-fg-primary: var(--text-primary);
  --color-fg-secondary: var(--text-secondary);
  --color-highlight: var(--text-highlight);
}

@layer base {
  :root {
    --surface-primary: oklch(19.754% 0.02076 271.477);
    --surface-secondary: oklch(30.041% 0.0418 261.287);
    --surface-muted: oklch(30.041% 0.0418 261.287);
    --surface-accent: oklch(43.7% 0.05977 270.422);
    --text-primary: oklch(93.178% 0.01758 285.973);
    --text-secondary: oklch(96.7% 0.001 286.375);
    --text-highlight: oklch(85.2% 0.199 91.936);
  }

  .light-theme {
    --surface-primary: oklch(97.371% 0.00276 285.752);
    --surface-secondary: oklch(24.399% 0.05007 266.302);
    --surface-muted: oklch(92.193% 0.0114 269.566);
    --surface-accent: oklch(36.286% 0.05297 266.59);
    --text-primary: oklch(20.8% 0.042 265.755);
    --text-secondary: oklch(96.7% 0.001 286.375);
    --text-highlight: oklch(85.2% 0.199 91.936);
  }
}

@font-face {
  font-family: 'Oxanium';
  src: url('../public/fonts/Oxanium.ttf') format('truetype');
  font-weight: 200 300 400 500 600 700 800;
}

@font-face {
  font-family: 'Changa';
  src: url('../public/fonts/Changa.ttf') format('truetype');
  font-weight: 200 300 400 500 600 700 800;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto.ttf') format('truetype');
  font-weight: 100 200 300 400 500 600 700 800 900;
}

body {
  background-color: var(--surface-primary);
  color: var(--text-primary);
  font-family: 'Oxanium', 'Changa', 'Roboto', Arial, sans-serif;
}
